<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="PyToolsIP[Python工具集成平台]">
		<meta name="author" content="JimDreamHeart">
		<title>{{toolInfo.name}}</title>
		<link rel="stylesheet" href="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" />	
		<link rel="stylesheet" href="http://jimdreamheart.club/resource/bootstrap-star-rating/css/star-rating.min.css" />
		<link rel="stylesheet" href="http://jimdreamheart.club/static/pytoolsip/css/style.css" />
	</head>
	<body>
		<header id = "header">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="container-fluid navbar-header">
						<a class="navbar-brand" href="http://jimdreamheart.club/pytoolsip" title="首页">PyToolsIP</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchNavCollapse">
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div id="searchNavCollapse" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="javascript:void(0);" target="_blank" title="开发工具">开发工具</a></li>
							<li><a href="javascript:void(0);" target="_blank" title="产品工具">产品工具</a></li>
							<li><a href="javascript:void(0);" target="_blank" title="娱乐工具">娱乐工具</a></li>
						</ul>
						<form action="http://jimdreamheart.club/pytoolsip/search" class="navbar-form navbar-right">
							<input name="t" type="text" placeholder="搜索工具名称" class="form-control">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container">
			{% if hasTool %}
			<div class="row">
				<div class="col-md-8">
					<div class="tool-info-tittle"><h2>{{ toolInfo.name }}</h2><span>&nbsp;[{{ toolInfo.category }}]</span></div>
					<h4>
						ID:&nbsp;&nbsp;
						<span id="IDText" style="color: green;">{{ toolInfo.tkey }}</span>
						<button id="copyID" class="btn btn-xs btn-default" data-clipboard-target="#IDText">复制</button>
					</h4>
					<p style="color: #A0A0A0;">
						<span>上传者：{{ toolInfo.author }}</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>评分：{{ toolInfo.score }}</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>总下载量：{{ toolInfo.downloadCount }}</span>
					</p>
				</div>
				<div class="col-md-4" style="padding-top: 40px;">
					<a class="btn btn-lg btn-primary" href="{{ toolInfo.url }}" target="_blank" title="">
						&nbsp;<span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;<b>v{{ toolInfo.version }}</b>&nbsp;[common:v{{ toolInfo.commonVersion }}]&nbsp;
					</a>
				</div>
				<div class="col-md-12">
					<blockquote style="margin-top: 30px;margin-bottom: 40px;">
						<p>{{ toolInfo.description }}</p>
					</blockquote>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>版本号</th>
									<th>common版本号</th>
									<th>版本描述</th>
									<th>上传时间</th>
									<th>下载量</th>
									<th>下载</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ toolInfo.version }}</td>
									<td>{{ toolInfo.commonVersion }}</td>
									<td>{{ toolInfo.description }}</td>
									<td>{{ toolInfo.uploadTime|date:"Y-m-d H:i:s" }}</td>
									<td>{{ toolInfo.downloadCount }}</td>
									<td><a href="{{ toolInfo.url }}" target="_blank" title=""><span class="glyphicon glyphicon-download-alt"></span>下载</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="toolComment" style="border-top: 1px #BCBCBC solid;padding-top: 40px;margin-top: 40px;">
						<form role="form">
							<textarea  id="commentContent" name="content" class="form-control" rows="3" placeholder="评论内容"></textarea>
							<input id="commentScore" name="score" type="number" class="rating" />
							<button id="commentButton" type="button" class="btn btn-info right" >评论</button>
						</form>
						<ul class="row" style="margin-top: 60px;border-bottom: 1px #BCBCBC dashed;">
							{% for commentInfo in commentInfoList %}
							<li class="col-md-12" style="border-top: 1px #BCBCBC dashed;padding-top: 20px;padding-bottom: 20px;">
								<div class="col-md-3 text-center">
									<p>{{ commentInfo.user }}</p>
									<p style="color: #A0A0A0;">{{ commentInfo.time }}</p>
								</div>
								<div class="col-md-9">
									<p>评分：<span style="color: darkgoldenrod;">{{ commentInfo.score }}</span></p>
									<p>评论内容：<span style="color: #A0A0A0;">{{ commentInfo.content }}</span></p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>没找到相应工具信息</h1>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="fixdRight">
			<div id="user"><a class="btn btn-default text-center" href="javascript:void(0);" title="个人中心"><span class="glyphicon glyphicon-user"></span></a></div>
			<div id="toTop"><a href="javascript:void(0);" title="回到顶部">╱╲</a></div>
		</div>
		<footer>
			<div class="container">
				<span>Copyright&nbsp;&copy;&nbsp;2019&nbsp;</span>
				<a href="https://github.com/JimDreamHeart" title="关于JimDreamHeart">梦心DH</a>
			</div>
		</footer>
		<script src="http://jimdreamheart.club/resource/jquery/jquery-3.4.0.min.js"></script>
		<script src="http://jimdreamheart.club/resource/jquery/jquery.cookie.js"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-star-rating/js/star-rating.min.js"></script>
		<script src="http://jimdreamheart.club/resource/clipboard/dist/clipboard.min.js"></script>
		<script src="http://jimdreamheart.club/static/pytoolsip/js/main.js"></script>
		<script language="JavaScript">
			$("#commentScore").rating({
				min: 0,
				max: 5,
				step: 0.5,
				showClear: false,
				hoverOnClear: false,
				clearCaption: "0分",
				starCaptions: function(val){
					return val+"分";
				},
				starCaptionClasses:function(val){
					return "label label-info";
				},
			});
			var idClipboard = new ClipboardJS("#copyID");
			idClipboard.on('success', function(e) {
				e.clearSelection();
			})
			$("#commentButton").click(function(){
				var $uid = $.cookie("uid");
				if ($uid == undefined) {
					alert("必须登陆后才能评论！");
					return;
				}
				var $content = $("#commentContent").val();
				if ($content == "") {
					alert("评论内容不能为空！");
					return;
				}
				$.post("http://jimdreamheart.club/pytoolsip/detail?t={{ toolInfo.tkey }}",{
					uid : $uid,
					content : $content,
					score : $("#commentScore").val(),
				}, function(data,status){
					if (status != "success") {
						alert("提交评论失败，请重新提交！")
					}
				});
			});
		</script>
	</body>
</html>
