<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="PyToolsIP[Python工具集成平台]">
		<meta name="author" content="JimDreamHeart">
		<title>PyToolsIP</title>
		<link rel="stylesheet" href="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href= {% static "css/style.css" %} />
		<style>
			.col-md-12>h2{
				padding: 10px 0px;
				margin-bottom: 20px;
				background-color: #CDCDCD;
			}
			#downloadList{
				padding-bottom: 20px;
				margin-bottom: 40px;
				border-bottom: 1px #DCDCDC solid;
			}
		</style>
	</head>
	<body>
		<header id = "header">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="container-fluid navbar-header">
						<a class="navbar-brand" href="http://jimdreamheart.club/pytoolsip" title="首页">PyToolsIP</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchNavCollapse">
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div id="searchNavCollapse" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="javascript:void(0);" target="_blank" title="开发工具">开发工具</a></li>
							<li><a href="javascript:void(0);" target="_blank" title="产品工具">产品工具</a></li>
							<li><a href="javascript:void(0);" target="_blank" title="娱乐工具">娱乐工具</a></li>
						</ul>
						<form action="http://jimdreamheart.club/pytoolsip/search" class="navbar-form navbar-right">
							<input name="t" type="text" placeholder="搜索工具名称" class="form-control">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
						</form>
					</div>
				</div>
			</nav>
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Python工具集成平台</h1>
					<div class="jumbotron-content">
						<p>本平台基于<a href="https://wxpython.org/" target="_blank" title="wxpython"><b>wxPython</b></a>框架开发，包含<b>Python3.7</b>版本运行库，旨在提供用户以可视化界面来使用<b>Python工具</b>。</p>
						<p>在使用工具时，除了可使用本平台自带的工具外，还允许<b>用户开发自定义功能</b>的工具，而用户可选择将所开发的工具上传到本平台，以共享给其他人下载使用。</p>
					</div>
					<ul class="jumbotron-btn-group">
						<li><a class="btn btn-primary btn-lg" href="{{ newestPtip.url }}" target="_blank" role="button" title="下载后进行解压，双击PyToolsIP文件夹下的pytoolsip.exe，进行运行。需要注意的是：初次运行程序时，为确保成功拉取依赖模块，请保证网络能正常连接！"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;下载最新版本[{{ newestPtip.version }}]</a></li>
						<li><a class="btn btn-default btn-lg" href="http://jimdreamheart.club/gitbook/PyToolsIP/" target="_blank" role="button"><span class="glyphicon glyphicon-book"></span>&nbsp;开发文档</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div id="mainContent" class="container">
			<div class="row">
				<div id="downloadList" class="col-md-12">
					<h2>下载列表</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>版本号</th>
									<th>更新日志</th>
									<th>上传时间</th>
									<th>下载量</th>
									<th>下载</th>
								</tr>
							</thead>
							<tbody>
								{% for ptipInfo in ptipInfoList %}
									<tr>
										<td>{{ ptipInfo.version }}</td>
										<td style="width:50%">{{ ptipInfo.changelog }}</td>
										<td>{{ ptipInfo.uploadTime|date:"Y-m-d H:i:s" }}</td>
										<td>{{ ptipInfo.downloadCount }}</td>
										<td><a href="{{ ptipInfo.url }}" target="_blank" title=""><span class="glyphicon glyphicon-download-alt"></span>下载</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12">
					<h2>最新工具</h2>
					{% for toolInfo in toolInfoList %}
						<div class="col-md-4 tool-info-item">
							<div class="tool-info-tittle"><h3>{{ toolInfo.name }}</h3><span>&nbsp;[{{ toolInfo.category }}]</span></div>
							<p class="tool-info-id">ID:&nbsp;<span>{{ toolInfo.tkey }}</span></p>
							<blockquote class="tool-info-desc">{{ toolInfo.description }}</blockquote>
							<p class="tool-info-detail"><a class="btn btn-info" href="http://jimdreamheart.club/pytoolsip/detail?t={{ toolInfo.tkey }}" target="_blank" role="button">点击详情&nbsp;&raquo;</a></p>
							<p class="tool-info-ex-info"><span>下载量：{{ toolInfo.downloadCount }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>评分：{{ toolInfo.score }}</span></p>
							<p class="tool-info-ex-info"><span>上传者：{{ toolInfo.author }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>上传时间：{{ toolInfo.uploadTime|date:"Y-m-d H:i:s" }}</span></p>
						</div>
					{% endfor %}
				<div>
			</div>
		</div>
		<div class="fixdRight">
			<div id="user"><a class="btn btn-default text-center" href="javascript:void(0);" title="个人中心"><span class="glyphicon glyphicon-user"></span></a></div>
			<div id="toTop"><a href="javascript:void(0);" title="回到顶部">╱╲</a></div>
		</div>
		<footer>
			<div class="container">
				<span>Copyright &copy; 2019 </span>
				<a href="https://github.com/JimDreamHeart" title="关于JimDreamHeart">梦心DH</a>
			</div>
		</footer>
		<script src="http://jimdreamheart.club/resource/jquery/jquery-3.4.0.min.js"></script>
		<script src="http://jimdreamheart.club/resource/jquery/jquery.cookie.js"></script>
		<script src="http://jimdreamheart.club/resource/jquery/jquerysession.js"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src={% static "js/main.js" %}></script>
	</body>
</html>
