<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
			{% if isShowIpOption %}
			<ul class="nav nav-sidebar">
				<li class="active"><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_script">PTIP平台</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_exe">平台运行程序</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="update_exe">平台更新程序</a></li>
			</ul>
			{% endif %}
			<ul class="nav nav-sidebar">
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_new_script">上传新工具</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_ol_script">更新线上工具</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content">
			<div id="alertList">
			</div>
			<div id="contentList">
				{% ifequal mkey "ptip_script" %}
					{% include "manage/ptip.html" %}
				{% endifequal %}
				{% ifequal mkey "pt_new_script" %}
					{% include "manage/ptip.html" %}
				{% endifequal %}
			</div>
		</div>
	</div>
</div>
<script language="JavaScript">
	$(function(){
		var showAlert = function(type, text) {
			$("#alertList").append("<div class='alert alert-"+ type +"' role='alert'>\
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>\
					<span class='alertContent'>"+ text +"</span>\
				</div>");
		}
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			showAlert("danger", tips);
		}
		// 显示头部
		if ($("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").removeClass("hidden");
		}
		// 更新用户名
		$("#userName").text("{{userInfo.name}}");
		// 更新当前项
		var mkey = "{{mkey}}";
		if (mkey == "") {
			// 请求信息
			requestManage({
				isSwitchTab : true,
				mk : $("#sidebar ._slideItem_:eq(0)").attr("data-target"),
			});
		} else {
			var $activeLi = $("#sidebar li.active");
			if ($activeLi.length == 0) {
				$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
			}else if (mkey != $activeLi.firstChild.attr("data-target")) {
				$activeLi.toggleClass("active");
				$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
			}
		}
		// 切换tab
		$("#sidebar ._slideItem_").on("click", function(){
			var $selected = $("#sidebar li.active").toggleClass("active");
			if ($selected != $(this).parent()) {
				$(this).parent().toggleClass("active");
				// 请求信息
				requestManage({
					isSwitchTab : true,
					mk : $(this).attr("data-target"),
				});
			}
		});
	})
</script>