<div id="alertList">
</div>
<div id="contentList">
	{% ifequal mkey "ptip_script" %}
		{% include "manage/ptip.html" %}
	{% endifequal %}
	{% ifequal mkey "ptip_exe" %}
		{% include "manage/ptip_exe.html" %}
	{% endifequal %}
	{% ifequal mkey "update_exe" %}
		{% include "manage/ptip_exe.html" %}
	{% endifequal %}
	{% ifequal mkey "depend_lib" %}
		{% include "manage/ptip_depend.html" %}
	{% endifequal %}

	{% ifequal mkey "pt_new_script" %}
		{% include "manage/new_tool.html" %}
	{% endifequal %}
	{% ifequal mkey "pt_ol_script" %}
		{% include "manage/ol_tool.html" %}
	{% endifequal %}
</div>
<script language="JavaScript">
	$(function(){
		var showAlert = function(type, text) {
			$("#alertList").append("<div class='alert alert-"+ type +"' role='alert'>\
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>\
					<span class='alertContent'>"+ text +"</span>\
				</div>");
		}
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			showAlert("danger", tips);
		}
	})
</script>