<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
			{% if isShowIpOption %}
			<ul class="nav nav-sidebar">
				<li class="active"><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_script">PTIP平台</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_exe">平台运行程序</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="update_exe">平台更新程序</a></li>
			</ul>
			{% endif %}
			<ul class="nav nav-sidebar">
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_new_script">上传新工具</a></li>
				<li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_ol_script">更新线上工具</a></li>
			</ul>
		</div>
		<div id="itemContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content">
		</div>
	</div>
</div>
<script language="JavaScript">
	$(function(){
		// 显示头部
		if ($("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").removeClass("hidden");
		}
		// 更新用户名
		$("#userName").text("{{userInfo.name}}");
		// 更新当前项
		var mkey = "{{mkey}}";
		if (mkey == "") {
			// 请求信息
			requestItemContent($("#sidebar ._slideItem_:eq(0)").attr("data-target"));
		} else {
			var $activeItem = $("#sidebar li.active>._slideItem_");
			if ($activeItem.length == 0) {
				$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
			}else if (mkey != $activeItem.attr("data-target")) {
				$activeItem.parent().toggleClass("active");
				$("#sidebar ._slideItem_[data-target="+mkey+"]").parent().toggleClass("active");
			}
		}
		// 切换tab
		$("#sidebar ._slideItem_").on("click", function(){
			var $activeItem = $("#sidebar li.active>._slideItem_");
			if ($activeItem.length > 0) {
				if ($activeItem.attr("data-target") != $(this).attr("data-target")) {
					$activeItem.parent().toggleClass("active");
					$(this).parent().toggleClass("active");
					// 请求信息
					requestItemContent($(this).attr("data-target"));
				}
			}
		});
	})
</script>