<div class='container'>
	<div class='row'>
		<div class='dialog-background col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>
			<form id='loginForm' class='login-form dialog-content' role='form' enctype='multipart/form-data'>
				<h2>登陆PTIP管理后台</h2>
				<input name='name' class='form-control' type='text' placeholder='用户名' required autofocus />
				<input name='password' class='form-control' type='password' placeholder='密码' required />
				<button class='btn btn-lg btn-success btn-block form-control' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;登陆</button>
				<div class='login-link clearfix'>
					<a id='registerDialog' class='pull-left' href='javascript:void(0)'>注册用户</a>
					<a id='resetDialog' class='pull-right' href='javascript:void(0)'>重置密码</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script language="JavaScript">
	$(function(){
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			logoutManage(); // 等处管理后台
			alert(tips);
		}
		// 更新用户名
		$("#userName").text("用户名");
		// 隐藏头部
		if (!$("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").addClass("hidden");
		}
		// 隐藏左边导航栏
		if (!$("#sidebar").hasClass("hidden")) {
			$("#sidebar").addClass("hidden");
		}
		// 登陆校验
		$("#loginForm").validate({
			rules: {
				name: {
					required: true,
				},
				password: {
					required: true,
				},
			},
			messages: {
				name: {
					required: "请输入用户名",
				},
				password: {
					required: "请输入密码",
				},
			},
			submitHandler: function() {
				loginIP(window.location.href, "loginForm", false, function(){
				requestManage({});
			});
			}
		});
		// 绑定注册超链接的点击事件
		$("#registerDialog").on("click",function(){
			createRegisterDialog();
		});
		// 绑定更新密码超链接的点击事件
		$("#resetDialog").on("click",function(){
			createResetDialog();
		});
	})
</script>