<div class='container'>
	<div class='row'>
		<div class='dialog-background col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>
			<form class='login-form dialog-content' method="" role='form'>
				<h2>登陆PTIP管理后台</h2>
				<input id='loginUserName' class='form-control' type='text' placeholder='用户名' required autofocus />
				<input id='loginPassword' class='form-control' type='password' placeholder='密码' required />
				<button id='loginButton' class='btn btn-lg btn-success btn-block form-control' type='button'><span class='glyphicon glyphicon-log-in'></span>&nbsp;登陆</button>
				<label>注：本平台不支持注册管理员。</label>
			</form>
		</div>
	</div>
</div>
<script language="JavaScript">
	$(function(){
		var tips = "{{requestFailedTips}}";
		if (tips != "") {
			alert(tips);
		}
		// 隐藏头部
		if (!$("#userNavCollapse ul").hasClass("hidden")) {
			$("#userNavCollapse ul").addClass("hidden");
		}
		// 点击登陆
		$("#loginButton").on("click",function(){
			$.post(window.location.href, {
				isLogin : true,
				uname : $("#loginUserName").val(),
				upwd : $("#loginPassword").val(),
			}, function(data, status){
				if (status == "success" && data.isSuccess) {
					$.cookie("ptip_mg_username", data.name, {expires: 0.5, path: "/"});
					$.cookie("ptip_mg_userpwd", data.pwd, {expires: 0.5, path: "/"});
					requestManage({isAfterLogin : true});
				} else {
					alert("登陆失败！")
				}
			});
		});
	})
</script>