<h2>平台审核</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>版本号</th>
            <th>更新日志</th>
            <th>发布时间</th>
            <th>确认审核</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.version }}</th>
            <th>{{ olInfo.changelog }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
            <th>
                <a class="btn btn-block btn-success examination" name="release" data-target="{{ olInfo.pid }}">发布</a>
                <a class="btn btn-block btn-danger examination" name="withdraw" data-target="{{ olInfo.pid }}">撤回</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p id="noExamingIP" class="text-center hidden">目前暂无需审核的平台版本~</p>
<script language="JavaScript">
	$(function(){
        var requestManageByExamType = function(examType, id) {
            requestManage({
                "mk" : "{{mkey}}",
                "examType" : examType,
                "id": id,
            });
        };
        $(".examination").on("click",function(){
            if ($(this).attr("name")  == "release") {
                requestManageByExamType($(this).attr("name"), $(this).attr("data-target"));
            } else {
                // 创建弹窗
                createDialogPage("<form id='reasonForm' class='login-form' role='form' enctype='multipart/form-data'>\
                                <h2>撤回原因</h2>\
                                <input name='reason' class='form-control' type='text' placeholder='请填写原因' required autofocus />\
                                <button class='btn btn-lg btn-success btn-block' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;登陆</button>\
                            </form>");
                // 登陆校验
                $("#reasonForm").validate({
                    rules: {
                        reason: {
                            required: true,
                        },
                    },
                    messages: {
                        reason: {
                            required: "请填写撤回原因",
                        },
                    },
                    submitHandler: function() {
                        requestManageByExamType($(this).attr("name"), $(this).attr("data-target"));
                        // 关闭弹窗
                        closeDialogPage();
                    }
                });
            }
        });
        if ($(".table>tbody>tr").length == 0) {
            $("#noExamingIP").removeClass("hidden");
        }
	});
</script>