
<h2>线上版本</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>版本号</th>
            <th>更新日志</th>
            <th>发布时间</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.version }}</th>
            <th>{{ olInfo.changelog }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>上传版本</h2>
<form id="uploadForm" class="col-sm-3 col-sm-offset-3 col-md-4 col-sm-offset-3 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">-&nbsp;上传PTIP平台&nbsp;-</h3>
    <div class="clearfix dependE">
        <h5 class="pull-left">依赖程序</h5>
        <div id="dependExeList" class="pull-left">
            <strong data-target="pytoolsip">
                pytoolsip.exe&nbsp;
                <select>
                    <option>v1.0.0</option>
                    <option>v1.0.1</option>
                    <option>v1.0.2</option>
                </select>
            </strong>
            <strong data-target="update">
                update.exe&nbsp;
                <select>
                    <option>v1.0.0</option>
                    <option>v1.0.1</option>
                    <option>v1.0.2</option>
                </select>
            </strong>
        </div>
    </div>
    <div class="clearfix dependE">
        <h5 class="pull-left">依赖环境</h5>
        <div id="dependEnvList" class="pull-left">
            <label class="checkbox-inline">
                <input type="checkbox" value="python" checked disabled />
                python&nbsp;&nbsp;
            </label>
        </div>
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="version">版本号</label>
        <input name="version" class="form-control" type="text" placeholder="1.0.0" required autofocus />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="file">更新包(zip格式)</label>
        <input name="file" class="form-control" type="file" required />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="changelog">更新日志</label>
        <textarea name="changelog" class="form-control" rows="4" required></textarea>
    </div>
    <input class="form-control btn btn-success" type="submit" value="上传更新包" />
</form>
<script language="JavaScript">
	$(function(){
        $("#uploadForm").validate({
            rules: {
                version: {
                    checkVersion: 3,
                },
                file: {
                    checkFileType: "zip",
                },
                changelog: {
                    required: true,
                },
            },
            messages: {
                version: {
                    required: "请输入版本号",
                },
                file: {
                    required: "请选择更新包",
                },
                changelog: "请输入更新日志",
            },
            submitHandler: function() {
                // 上传事件
                var exeList = [];
                $("#dependExeList>strong").each(function(index,element){
                    exeList.push([$(element).attr("data-target"), $(element).find("select").val()]);
                });
                var envList = [];
                $("#dependEnvList input").each(function(index,element){
                    if ($(element).attr('checked')){
                        envList.push($(element).val());
                    }
                });
                uploadManageForm($("#uploadForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"},
                    {"key":"exeList", "val":JSON.stringify(exeList), "type":"text"},
                    {"key":"envList", "val":JSON.stringify(envList), "type":"text"}
                ]);
            }
        });
	})
</script>