*{
	margin: 0;
	padding: 0;
}
header {
  padding-top: 50px;
  padding-bottom: 20px;
}
ul,li{
	list-style-type: none;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
footer{
	clear: both;
	width: 100%;
	color: #A0A0A0;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 10px;
}
/* footer span{
	font-size: 14px;
} */
footer a{
	font-size: 8px;
}
.fixdRight{
	font-family: "宋体";
	color: #000000;
	z-index: 1;
	position: fixed;
	right: 4%;
	bottom: 10%;
	opacity: 0.5;
	background-color: #FFFFFF;
}
#user{
	margin-bottom: 4px;
}
#user a{
	padding-top: 0px;
	padding-left: 8px;
	font-size: 24px;
}
.fixdRight a{
	display: block;
	width: 36px;
	height: 36px;
	font-size: 12px;
	padding-top: 9px;
	padding-left: 6px;
	border: 1px #BCBCBC solid;
	border-radius: 2px;
}
.fixdRight a:hover{
	color: #FFFFFF;
	background-color: #1E80FF;
	border: 1px #1E80FF solid;
	opacity: 0.9;
}
#searchResult{
	margin-top: 40px;
	padding-top: 20px;
	border-top: 2px #BCBCBC solid;
}