<form id="searchForm" class="col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">
        -&nbsp;搜索已发布的&nbsp;评论&nbsp;-
    </h3>
    <div class="input-group">
        <input id="searchText" name="searchText" type="text" placeholder="搜索评论内容" class="form-control">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</form>
<h2 class="col-sm-12 col-md-12">评论列表</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>评论内容</th>
            <th>发布者</th>
            <th>所属工具/文章</th>
            <th>类型</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.content }}</th>
            <th>{{ olInfo.userName }}</th>
            <th><a href="{{ olInfo.targetUrl }}" target="_blank">{{ olInfo.target }}</a></th>
            <th>{{ olInfo.type }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
            <th>
                <a class="btn btn-danger examination" name="delete" data-target="{{ olInfo.id }}">删除</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if isSearchNone %}
    <p class="text-center">{{searchNoneTips}}</p>
{% endif %}
<script language="JavaScript">
	$(function(){
        // 搜索表单
        $("#searchForm").validate({
            submitHandler: function() {
                uploadManageForm($("#searchForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"}
                ]);
            }
        });
        $("#searchText").val("{{ searchText }}"); // 更新搜索值
        // 请求审核
        var requestManageByExamType = function(examType, id, reason, callback) {
            requestCallback({
                "mk" : "{{mkey}}",
                "examType" : examType,
                "id": id,
                "reason" : reason,
            }, callback);
        };
        $(".examination").on("click",function(){
            var examType = $(this).attr("name");
            var cid = $(this).attr("data-target");
            if (examType  == "delete") {
                // 创建弹窗
                createDialogPage("<form id='reasonForm' class='login-form' role='form' enctype='multipart/form-data'>\
                                <h2>"+ $(this).text() +"原因</h2>\
                                <input name='reason' class='form-control' type='text' placeholder='请填写"+ $(this).text() +"原因' required autofocus />\
                                <button class='btn btn-lg btn-success form-control' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;提交</button>\
                            </form>");
                // 登陆校验
                $("#reasonForm").validate({
                    rules: {
                        reason: {
                            required: true,
                        },
                    },
                    messages: {
                        reason: {
                            required: "请填写"+ $(this).text() +"原因",
                        },
                    },
                    submitHandler: function() {
                        requestManageByExamType(examType, cid, $("#reasonForm input[name='reason']").val(), function(){
                            closeDialogPage(); // 请求后关闭弹窗
                        }); // 请求后关闭弹窗
                    }
                });
            }
        });
	});
</script>