<form id="searchForm" class="col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">
        -&nbsp;搜索已发布的&nbsp;文章/工具&nbsp;-
    </h3>
    <div class="input-group">
        <input id="searchText" name="searchText" type="text" placeholder="搜索文章标题/工具名" class="form-control">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</form>
<h2 class="col-sm-12 col-md-12">文章/工具列表</h2>
<div class="col-sm-12 col-md-12 clearfix" style="margin: 10px 0px;">
    <strong style="color: darkred;">
        {% if isAllClosed %}
        <input class="operate" name="allClose" data-target="all" type="checkbox" checked />
        {% else %}
        <input class="operate" name="allClose" data-target="all" type="checkbox" />
        {% endif %}
        关闭所有【文章/工具】的评论功能
    </strong>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>文章/工具</th>
            <th>类型</th>
            <th>发布者</th>
            <th>发布时间</th>
            <th>评论数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th><a href="{{ olInfo.targetUrl }}" target="_blank">{{ olInfo.target }}</a></th>
            <th>{{ olInfo.type }}</th>
            <th>{{ olInfo.userName }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
            <th>{{ olInfo.commentCount }}</th>
            <th>
                {% if isAllClosed %}
                    {% if olInfo.isClosed %}
                        已关闭
                    {% else %}
                        已开启
                    {% endif %}
                {% else %}
                    {% if olInfo.isClosed %}
                        <a class="btn btn-primary operate" name="open" data-target="{{ olInfo.id }}">开启</a>
                    {% else %}
                        <a class="btn btn-danger operate" name="close" data-target="{{ olInfo.id }}">关闭</a>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if isSearchNone %}
    <p class="text-center">{{searchNoneTips}}</p>
{% endif %}
<script language="JavaScript">
	$(function(){
        // 搜索表单
        $("#searchForm").validate({
            submitHandler: function() {
                uploadManageForm($("#searchForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"}
                ]);
            }
        });
        $("#searchText").val("{{ searchText }}"); // 更新搜索值
        // 执行操作
        $(".operate").on("click",function(){
            var $opItem = $(this);
            var opType = $opItem.attr("name");
            var aid = $opItem.attr("data-target");
            switch(opType) {
                case "open":
                    requestCallback({
                        "mk" : "{{mkey}}",
                        "opType" : opType,
                        "aid" : aid,
                        "searchText" : "{{ searchText }}",
                    }, function(){});
                    break;
                case "close":
                    requestCallback({
                        "mk" : "{{mkey}}",
                        "opType" : opType,
                        "aid": aid,
                        "searchText" : "{{ searchText }}",
                    }, function(){});
                    break;
                case "allClose":
                    var isCloseAll = $opItem.is(":checked");
                    // 创建弹窗
                    var opText = "关闭";
                    if (!isCloseAll) {
                        opText = "开启";
                    }
                    // 还原状态
                    $opItem.prop("checked", !isCloseAll);
                    createDialogPage("<div class='dialog-form'>\
                                    <h2>是否确认"+opText+"所有的评论功能？</h2>\
                                    <blockquote style='color: red;'>注意：确认后，所有【文章/工具】的评论功能将被"+opText+"，请谨慎操作！</blockquote>\
                                    <p style='font-size:8px'>*&nbsp;注：开启所有的评论功能时，不改变各个文章/工具原来的开闭状态。</p>\
                                    <div class='clearfix'>\
                                        <button id='cancelOperation' class='btn btn-lg btn-info pull-left'>取消</button>\
                                        <button id='submitOperation' class='btn btn-lg btn-default pull-right danger-button'>确定</button>\
                                    </div>\
                                </div>");
                    $("#cancelOperation").on("click",function(){
                        closeDialogPage(); // 关闭弹窗
                    });
                    $("#submitOperation").on("click",function(){
                        requestCallback({
                            "mk" : "{{mkey}}",
                            "opType" : opType,
                            "isCloseAll" : isCloseAll,
                            "searchText" : "{{ searchText }}",
                        }, function(){
                            closeDialogPage(); // 关闭弹窗
                        });
                    });
                    break;
            }
        });
	});
</script>