<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="PyToolsIP[Python工具集成平台]">
		<meta name="author" content="JDreamHeart">
		<title>{{ HEAD_TITLE }}</title>
		<link rel="shortcut icon" href={% static "icon/dzjh.ico" %} type="image/x-icon" />
		<link rel="stylesheet" href="{{ RESOURCE_URL }}/bootstrap-3.3.7-dist/css/bootstrap.min.css" />	
		<link rel="stylesheet" href="{{ RESOURCE_URL }}/bootstrap-star-rating/css/star-rating.min.css" />
        <link rel="stylesheet" href= {% static "css/style.css" %} />
        <link rel="stylesheet" href= {% static "css/release.css" %} />
	</head>
	<body>
        <header id = "header">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="ptip-navbar">
                    <a class="navbar-brand" href="{{ MAIN_HOME_URL }}" title="{{ MAIN_HOME_TITLE }}"><img class="main-home-icon img-responsive" src={% static "img/home-icon.png" %} />{{ MAIN_HOME_TITLE }}</a>
                </div>
                <div class="container-fluid navbar-header">
                    <a class="navbar-brand" href="{{ HOME_URL }}" title="{{ HOME_TITLE }}">{{ HOME_TITLE }}</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#userNavCollapse">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div id="userNavCollapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right hidden" style="margin:0px">
                        <li><a id="userInfo" href="javascript:void(0);" title="用户中心"><span id="userName" class="glyphicon glyphicon-user">用户名</span></a></li>
                        <li><a id="logoutButton" href="javascript:void(0);" title="退出"><span class="glyphicon glyphicon-log-out">退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="col-sm-3 col-md-2 sidebar hidden">
                    <ul class="nav nav-sidebar manager-options">
                        <li class="active"><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_examination">平台脚本审核</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_script">平台脚本</a></li>
                    </ul>
                    <ul class="nav nav-sidebar manager-options">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_installer">平台安装程序</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="ptip_exe">平台依赖程序</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="depend_lib">平台依赖库</a></li>
                    </ul>
                    <ul class="nav nav-sidebar manager-options">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="comment_switch">评论开关</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="comment_examination">评论审核</a></li>
                    </ul>
                    <ul class="nav nav-sidebar manager-options">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_ol_examination">工具下架</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_examination">工具审核</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_new_script">上传新工具</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="pt_ol_script">更新线上工具</a></li>
                    </ul>
                    <ul class="nav nav-sidebar manager-options">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="article_examination">文章审核</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="article">文章发布</a></li>
                        <li><a class="_slideItem_" href="javascript:void(0);" data-target="ol_article">线上文章/工具详情</a></li>
                    </ul>
                </div>
                <div id="mainContent">
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <span>&copy;&nbsp;2019-2020&nbsp;</span>
                <a id="aboutDzjH" href="javascript:void(0);" title="关于JDreamHeart">梦心DH</a>
            </div>
        </footer>
        <script src="{{ RESOURCE_URL }}/jquery/jquery-3.4.0.min.js"></script>
        <script src="{{ RESOURCE_URL }}/jquery/jquery.cookie.js"></script>
        <script src="{{ RESOURCE_URL }}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="{{ RESOURCE_URL }}/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
        <script src="{{ RESOURCE_URL }}/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<script src="{{ RESOURCE_URL }}/jsencrypt/jsencrypt.min.js"></script>
        <script src={% static "js/main.js" %}></script>
        <script src={% static "js/release.js" %}></script>
        <script src={% static "js/release_validate.js" %}></script>
        <script src={% static "js/ws.js" %}></script>
        <script language="JavaScript">
            $(function(){
                // 切换tab
                $("#sidebar ._slideItem_").on("click", function(){
                    var $activeItem = $("#sidebar li.active>._slideItem_");
                    if ($activeItem.length > 0) {
                        if ($activeItem.attr("data-target") != $(this).attr("data-target")) {
                            $activeItem.parent().toggleClass("active");
                            $(this).parent().toggleClass("active");
                            // 请求信息
                            requestManage({
                                "isSwitchTab" : true,
                                "mk" : $(this).attr("data-target"),
                            });
                        }
                    }
                });
                // 请求发布后台
                requestManage({});
            })
        </script>
    </body>
</html>