<h2>线上版本</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>发布时间</th>
            <th>库源</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.name }}</th>
            <th>{{ olInfo.description }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
            <td><a href="{{ olInfo.url }}" target="_blank" title=""><span class="glyphicon glyphicon-download-alt"></span>下载</a></td>
            <th>
                <a class="btn btn-danger examination" name="delete" data-target="{{ olInfo.id }}">下架</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if examInfoList %}
<h2>审核版本</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>发布时间</th>
            <th>更新包</th>
            <th>确认审核</th>
        </tr>
    </thead>
    <tbody>
        {% for examInfo in examInfoList %}
        <tr>
            <th>{{ examInfo.name }}</th>
            <th>{{ examInfo.description }}</th>
            <th>{{ examInfo.time|date:"Y-m-d H:i:s" }}</th>
            <td><a href="{{ examInfo.url }}" target="_blank" title=""><span class="glyphicon glyphicon-download-alt"></span>下载</a></td>
            <th>
                <a class="btn btn-danger examination" name="delete" data-target="{{ examInfo.id }}">撤回</a>
                <a class="btn btn-success examination" name="release" data-target="{{ examInfo.id }}">发布</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h2>上传版本</h2>
<form id="uploadForm" class="col-sm-3 col-sm-offset-3 col-md-4 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">
        -&nbsp;上传依赖库&nbsp;-
    </h3>
    <div class="input-group">
        <input id="isUploadNew" name="isUploadNew" type="checkbox" /><label for="isUploadNew">是否上传新依赖库</label>
    </div>
    <div id="newExeName">
        <div class="input-group">
            <label class="input-group-addon" for="name">名称</label>
            <input name="newName" class="form-control" type="text" placeholder="请使用英文名称" required />
        </div>
    </div>
    <div id="olExeName">
        <div class="input-group">
            <label class="input-group-addon" for="name">名称</label>
            <select  name="olName" class="form-control">
                {% for olInfo in olDependInfolist %}
                <option data-target="{{ olInfo.path }}">{{ olInfo.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="path">路径</label>
        <input name="path" class="form-control" type="text" placeholder="请使用英文路径" required />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="file">上传包(zip格式)</label>
        <input name="file" class="form-control" type="file" required />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="description">描述</label>
        <textarea name="description" class="form-control" rows="4" required></textarea>
    </div>
    <input class="form-control btn btn-success" type="submit" value="上传依赖" />
</form>
<script language="JavaScript">
	$(function(){
        $("#uploadForm").validate({
            rules: {
                newName: {
                    required: true,
                    check_LetterNum0: true,
                    remote: {
                        url : window.location.href,
                        type : "post",
                        dataType: "json",
                        data : {
                            isVerify : true,
                            dependName : function() {
                                return $("input[name='newName']").val();
                            }
                        }
                    },
                },
                path: {
                    required: true,
                },
                file: {
                    checkFileType: "zip",
                },
                description: {
                    required: true,
                },
            },
            messages: {
                newName: {
                    required: "依赖库名称不能为空",
                    remote: "依赖库名已存在！请重新输入",
                },
                path: "路径信息不能为空",
                file: {
                    required: "请选择上传包",
                },
                description: "请输入描述信息",
            },
            submitHandler: function() {
                var name = $("select[name='olName']").val();
                if ($("#isUploadNew").is(":checked")) {
                    name = $("input[name='newName']").val();
                }
                uploadManageForm($("#uploadForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"},
                    {"key":"name", "val":name, "type":"text"}
                ]);
            }
        });
        // 检测工具名变换
        var chengePath = function() {
            var $selectedOpt = $("select[name='olName'] option:selected");
            if (!$("#olExeName").hasClass("hidden")) {
                $("input[name='path']").val($selectedOpt.attr("data-target"));
            } else {
                $("input[name='path']").val("");
            }
        }
        $("select[name='olName']").change(function(){
            chengePath();
        });
        chengePath();
        // 监测是否选中上传新依赖库选框
        var checkIsUploadNew = function() {
            if ($("#isUploadNew").is(":checked")) {
                $("#newExeName").removeClass("hidden");
                $("#olExeName").addClass("hidden");
            } else {
                $("#newExeName").addClass("hidden");
                $("#olExeName").removeClass("hidden");
            }
            chengePath();
        }
        $("#isUploadNew").change(function(){
            checkIsUploadNew();
        });
        checkIsUploadNew();
        // 审核内容
        var requestManageByExamType = function(examType, id, reason, callback) {
            requestCallback({
                "mk" : "{{mkey}}",
                "examType" : examType,
                "id" : id,
                "reason" : reason,
            }, callback);
        };
        $(".examination").on("click",function(){
            var examType = $(this).attr("name");
            var did = $(this).attr("data-target");
            var text = $(this).text();
            if (examType  == "release") {
                // 创建弹窗
                createDialogPage("<form class='login-form' role='form' enctype='multipart/form-data'>\
                                <h2>更新线上依赖库</h2>\
                                <p class='text-center' style='color: red;'>是否确认更新依赖库到线上？</p>\
                                <p class='text-center'>（注意：上传后不能撤回）</p>\
                                <button id='confirmBtn' class='btn btn-lg btn-danger form-control' type='button'>确认上传更新包</button>\
                            </form>");
                $("#confirmBtn").on("click", function(){
                    requestManageByExamType(examType, did, "", function(){
                        closeDialogPage(); // 请求后关闭弹窗
                    });
                });
            } else {
                // 创建弹窗
                createDialogPage("<form id='reasonForm' class='login-form' role='form' enctype='multipart/form-data'>\
                                <h2>"+text+"原因</h2>\
                                <input name='reason' class='form-control' type='text' placeholder='请填写"+text+"原因' required autofocus />\
                                <button class='btn btn-lg btn-success form-control' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;提交</button>\
                            </form>");
                // 登陆校验
                $("#reasonForm").validate({
                    rules: {
                        reason: {
                            required: true,
                        },
                    },
                    messages: {
                        reason: {
                            required: "请填写"+text+"原因",
                        },
                    },
                    submitHandler: function() {
                        requestManageByExamType(examType, did, $("#reasonForm input[name='reason']").val(), function(){
                            closeDialogPage(); // 请求后关闭弹窗
                        });
                    }
                });
            }
        });
	})
</script>