<h2>线上版本</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>版本号</th>
            <th>更新日志</th>
            <th>发布时间</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.version }}</th>
            <th>{{ olInfo.changelog }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>上传版本</h2>
<form id="uploadForm" class="col-sm-3 col-sm-offset-3 col-md-4 col-sm-offset-3 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">
        -&nbsp;发布平台安装程序&nbsp;-
    </h3>
    <div class="input-group">
        <label class="input-group-addon" for="version">版本号</label>
        <input name="version" class="form-control" type="text" placeholder="1.0.0" required autofocus />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="file">更新文件(exe格式)</label>
        <input name="file" class="form-control" type="file" required />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="changelog">更新日志</label>
        <textarea name="changelog" class="form-control" rows="4" required></textarea>
    </div>
    <input class="form-control btn btn-success" type="submit" value="上传更新文件" />
</form>
<script language="JavaScript">
	$(function(){
        $("#uploadForm").validate({
            rules: {
                version: {
                    checkVersion: 3,
                },
                file: {
                    checkFileType: "exe",
                },
                changelog: {
                    required: true,
                },
            },
            messages: {
                version: {
                    required: "请输入版本号",
                },
                file: {
                    required: "请选择更新包",
                },
                changelog: "请输入更新日志",
            },
            submitHandler: function() {
                uploadManageForm($("#uploadForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"}
                ]);
            }
        });
	})
</script>