<h2>线上版本</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>发布时间</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.name }}</th>
            <th>{{ olInfo.description }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>上传版本</h2>
<form id="uploadForm" class="col-sm-3 col-sm-offset-3 col-md-4 col-sm-offset-3 form-group" role="form" enctype="multipart/form-data">
    <h3 class="text-center">
        -&nbsp;上传依赖库&nbsp;-
    </h3>
    <input id="isUploadNew" type="checkbox" value="是否上传新依赖库" />
    <div id="newExeName" calss="hidden">
        <div class="input-group">
            <label class="input-group-addon" for="name">名称</label>
            <input name="name" class="form-control" type="text" placeholder="请使用英文名称" required />
        </div>
        <div class="input-group">
            <label class="input-group-addon" for="path">路径</label>
            <input name="path" class="form-control" type="text" placeholder="请使用英文路径" required />
        </div>
    </div>
    <div id="olExeName">
        <div class="input-group">
            <label class="input-group-addon" for="name">名称</label>
            <select  name="name" class="form-control">
                {% for olName in olNamelist %}
                <option>{{ olName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="file">上传包(zip格式)</label>
        <input name="file" class="form-control" type="file" required />
    </div>
    <div class="input-group">
        <label class="input-group-addon" for="description">描述</label>
        <textarea name="description" class="form-control" rows="4" required></textarea>
    </div>
    <input class="form-control btn btn-success" type="submit" value="上传依赖" />
</form>
<script language="JavaScript">
	$(function(){
        $("#uploadForm").validate({
            rules: {
                name: {
                    required: true,
                    check_LetterNum0: true,
                    remote: {
                        url : window.location.href,
                        type : "post",
                        dataType: "json",
                        data : {
                            isVerify : $("#isUploadNew").is(':checked'),
                            dependName : function() {
                                if ($("#isUploadNew").is(':checked')) {
                                    return $("#newExeName input[name='name']").val();
                                }
                                return "";
                            }
                        }
                    },
                },
                file: {
                    checkFileType: "zip",
                },
                description: {
                    required: true,
                },
            },
            messages: {
                name: {
                    required: "依赖库名称不能为空",
                },
                file: {
                    required: "请选择上传包",
                },
                description: "请输入描述信息",
            },
            submitHandler: function() {
                uploadManageForm($("#uploadForm"), [
                    {"key":"mk", "val":"{{mkey}}", "type":"text"}
                ]);
            }
        });
	})
</script>