{% ifequal mkey "pt_ol_examination" %}
<h2>工具下架</h2>
{% else %}
<h2>工具审核</h2>
{% endifequal %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>工具名</th>
            <th>所属类别</th>
            <th>工具ID</th>
            <th>工具描述</th>
            <th>版本号</th>
            <th>更新日志</th>
            <th>发布时间</th>
            <th>确认审核</th>
        </tr>
    </thead>
    <tbody>
        {% for olInfo in onlineInfoList %}
        <tr>
            <th>{{ olInfo.name }}</th>
            <th>{{ olInfo.category }}</th>
            <th>{{ olInfo.tkey }}</th>
            <th>{{ olInfo.description }}</th>
            <th>{{ olInfo.version }}</th>
            <th>{{ olInfo.changelog }}</th>
            <th>{{ olInfo.time|date:"Y-m-d H:i:s" }}</th>
            <th>
                {% if isManager %}
                    {% if isReleased %}
                        <a class="btn btn-block btn-success examination" name="delete" data-target="{{ olInfo.tid }}">下架</a>
                    {% else %}
                        <a class="btn btn-block btn-success examination" name="release" data-target="{{ olInfo.tid }}">发布</a>
                        <a class="btn btn-block btn-danger examination" name="withdraw" data-target="{{ olInfo.tid }}">撤回</a>
                    {% endif %}
                {% else %}
                    {% if isReleased %}
                        已发布
                    {% else %}
                        <a class="btn btn-block btn-danger examination" name="withdraw" data-target="{{ olInfo.tid }}">撤回</a>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% ifequal mkey "pt_ol_examination" %}
<p id="noExamingTool" class="text-center hidden">目前暂无已发布的工具版本~</p>
{% else %}
<p id="noExamingTool" class="text-center hidden">目前暂无需审核的工具版本~</p>
{% endifequal %}
<script language="JavaScript">
	$(function(){
        var requestManageByExamType = function(examType, id) {
            requestManage({
                "mk" : "{{mkey}}",
                "examType" : examType,
                "id": id,
            });
        };
        $(".examination").on("click",function(){
            if ($(this).attr("name")  == "release") {
                requestManageByExamType($(this).attr("name"), $(this).attr("data-target"));
            } else {
                // 创建弹窗
                createDialogPage("<form id='reasonForm' class='login-form' role='form' enctype='multipart/form-data'>\
                                <h2>"+ $(this).text() +"原因</h2>\
                                <input name='reason' class='form-control' type='text' placeholder='请填写原因' required autofocus />\
                                <button class='btn btn-lg btn-success btn-block' type='submit'><span class='glyphicon glyphicon-log-in'></span>&nbsp;登陆</button>\
                            </form>");
                // 登陆校验
                $("#reasonForm").validate({
                    rules: {
                        reason: {
                            required: true,
                        },
                    },
                    messages: {
                        reason: {
                            required: "请填写"+ $(this).text() +"原因",
                        },
                    },
                    submitHandler: function() {
                        requestManageByExamType($(this).attr("name"), $(this).attr("data-target"));
                        // 关闭弹窗
                        closeDialogPage();
                    }
                });
            }
        });
        // 判断是否显示无审核版本的提示
        if ($(".table>tbody>tr").length == 0) {
            $("#noExamingTool").removeClass("hidden");
        }
	});
</script>