<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="PyToolsIP[Python工具集成平台]">
		<meta name="author" content="JimDreamHeart">
		<title>PyToolsIP</title>
		<link rel="stylesheet" href="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
	</head>
	<body>
		<header id = "header">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="container-fluid navbar-header">
						<a class="navbar-brand" href="#" title="首页">PyToolsIP</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchNavCollapse">
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="javascript:void();" target="_blank" title="开发工具">开发工具</a></li>
						<li><a href="javascript:void();" target="_blank" title="产品工具">产品工具</a></li>
						<li><a href="javascript:void();" target="_blank" title="娱乐工具">娱乐工具</a></li>
					</ul>
					<div id="searchNavCollapse" class="navbar-collapse collapse">
						<form class="navbar-form navbar-right">
							<input type="text" placeholder="Search" class="form-control">
							<button type="submit" class="btn btn-success">Search</button>
						</form>
					</div>
				</div>
			</nav>
			<div class="jumbotron">
				<div class="container">
					<h1>PyToolsIP</h1>
					<p>Python工具集成平台</p>
					<p><a class="btn btn-info btn-lg" href="http://jimdreamheart.club/gitbook/PyToolsIP/" target="_blank" role="button"> 开发文档 &raquo;</a></p>
				</div>
			</div>
		</header>
		<div id="mainContent" class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>工具名称</h2>
					<p>工具描述</p>
					<p><a class="btn btn-primary" href="#" role="button">详情 &raquo;</a></p>
				</div>
				<!-- {% for toolInfo in toolInfoList %}
					<div class="col-md-4">
						<h2>{{toolInfo.name}}</h2>
						<p>{{toolInfo.description}}</p>
						<p><a class="btn btn-primary" href="#" role="button">详情&raquo;</a></p>
					</div>
				{% endfor %} -->
			</div>
		</div>
		<div id="toTop"><a href="javascript:void();" title="回到顶部">╱╲</a></div>
		<footer>
			<div class="container">
				<span>Copyright &copy; 2019 </span>
				<a href="https://github.com/JimDreamHeart" title="关于JimDreamHeart">梦心DH</a>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
		<script src="http://jimdreamheart.club/resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
